
<div *ngIf="displayedit">
    <table class="table table-borderless" width="100%">
  
      <th style="text-align: center; color: white; ">
        <h3>Edit Category</h3>
  
      </th>
  
      <tbody>
  
        <tr>
          <td valign="middle" align="center" width="100%">
  
            <input type="text" class="" [(ngModel)]="sectionname" />
          </td>
        </tr>
        <tr>
          <td valign="middle" align="center" width="100%">
            <input type="text" class="form-group" [(ngModel)]="sectionavailable" />
          </td>
        </tr>
       
  
        <tr>
  
          <td align="center">
            <div class="form-group">
              <button type="button" class="btn btn-danger" (click)="savesectionedit();">Edit Section</button>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-danger" (click)="BackToInitial();">Back</button>
            </div>
  
          </td>
  
        </tr>
  
      </tbody>
  
    </table>
  </div>
  <div *ngIf="displayInitial"><app-section></app-section></div>
  
  