<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12 col-lg-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600">Hembo Tingor</h6>
                                <p>Web Designer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div  class="col-sm-5">
                                        <p  class="m-b-10 f-w-600">Name</p>
                                        <h6 *ngIf="editname" class="text-muted f-w-400">{{fullname}}</h6>
                                    </div>
                                    <div *ngIf="inputeditname" class="flex-item-right1">
                                        <form name="formname" [formGroup]="formname">  
                                        <div class="form-group required">
                                            <center>
                                                <input type="text" class="form-control" formControlName="fullName"  [(ngModel)]="fullname" 
                                                [ngClass]="{'is-invalid': formname.get('fullName').touched && formname.get('fullName').invalid}"
                                                />
                                                <div class="invalid-feedback"> 
                                                    Name is required
                                                </div>
                                            </center>
                                        </div>
                                        <div class="flex-item-right2">
                                            <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light btn-sm" (click)="saveeditname();">
                                                Save
                                            </button> &nbsp;
                                            <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light btn-sm" (click)="canceleditname();">
                                                Cancel
                                            </button>
                                        </div>
                                        </form>
                                    </div>

                                    <button *ngIf="editname" type="button" class="btn btn-link" (click)="openeditname();">
                                     <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                      </svg>
                                    </button>
                                    
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 *ngIf="editemail"  class="text-muted f-w-400">{{email}}</h6>
                                    </div>
                                    <div *ngIf="inputeditemail" class="flex-item-right1">
                                        <form name="formemail" [formGroup]="formemail">  
                                        <div class="form-group required">
                                            <center>
                                                <input type="text" class="form-control" formControlName="email"  [(ngModel)]="email" 
                                                [ngClass]="{'is-invalid': formemail.get('email').touched && formemail.get('email').invalid}"
                                                />
                                                <div class="invalid-feedback"> 
                                                    Email is required
                                                </div>
                                            </center>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light btn-sm" (click)="saveeditemail();">
                                                Save
                                            </button>
                                            <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light btn-sm" (click)="canceleditemail();">
                                                Cancel
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                    <button  *ngIf="editemail" type="button" class="btn btn-link" (click)="openeditemail();">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                           <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                         </svg>
                                       </button>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">98979989898</h6>
                                    </div>
                                    <button type="button" class="btn btn-link">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                           <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                         </svg>
                                       </button>
                                </div>
                                <ul class="social-link list-unstyled m-t-40 m-b-10">
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="flex-container">
    <div class="flex-item-left"> 
        <b>Name</b> 
    </div>            
    <div *ngIf="editname" class="flex-item-middle"> 
        <label>{{fullname}}</label>
            <button type="button" class="btn btn-link" (click)="openeditname();">
                Edit
            </button>
    </div>
    <div *ngIf="inputeditname" class="flex-item-right1">
        <form name="formname" [formGroup]="formname">  
        <div class="form-group required">
            <center>
                <input type="text" class="form-control" formControlName="fullName"  [(ngModel)]="fullname" 
                [ngClass]="{'is-invalid': formname.get('fullName').touched && formname.get('fullName').invalid}"
                />
                <div class="invalid-feedback"> 
                    Name is required
                </div>
            </center>
        </div>
        <div class="flex-item-right2">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="saveeditname();">
                Save
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="canceleditname();">
                Cancel
            </button>
        </div>
        </form>
    </div>
</div>
<hr>
<div class="flex-container">
    <div class="flex-item-left"> 
        <b>Email</b> 
    </div>            
    <div *ngIf="editemail" class="flex-item-middle"> {{email}}
            <button type="button" class="btn btn-link" (click)="openeditemail();">
                Edit
            </button>
    </div>
    <div *ngIf="inputeditemail" class="flex-item-right1">
        <form name="formemail" [formGroup]="formemail">  
        <div class="form-group required">
            <center>
                <input type="text" class="form-control" formControlName="email"  [(ngModel)]="email" 
                [ngClass]="{'is-invalid': formemail.get('email').touched && formemail.get('email').invalid}"
                />
                <div class="invalid-feedback"> 
                    Email is required
                </div>
            </center>
        </div>
        <div class="flex-item-right2">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="saveeditemail();">
                Save
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="canceleditemail();">
                Cancel
            </button>
        </div>
        </form>
    </div>
</div> -->