body {
  margin: 0;
   font-family: "Lato", sans-serif;
 }
 
 .sidebar {
   margin: 0;
   padding: 0;
   width: 200px;
   background-color: #f1f1f1;
   position: fixed;
   height: 100%;
   overflow: auto;
 }
 
 .sidebar a {
   display: block;
   color: black;
   padding: 16px;
   text-decoration: none;
 }
  
 .sidebar a.active {
   background-color: #4CAF50;
   color: white;
 }
 
 .sidebar a:hover:not(.active) {
   background-color: #555;
   color: white;
 }
 
 div.content {
   margin-left: 200px;
   padding: 1px 16px;
   height: 1000px;
 }
 
 @media screen and (max-width: 700px) {
   .sidebar {
     width: 100%;
     height: auto;
     position: relative;
   }
   .sidebar a {float: left;}
   div.content {margin-left: 0;}
 }
 
 @media screen and (max-width: 400px) {
   .sidebar a {
     text-align: center;
     float: none;
   }
 }

 .dropbtn {
   background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
 }
 
 .dropdown {
   position: top;
   display: block;
   border: none;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
  border: none;
 
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: black;
  
   text-decoration: none;
   display: block;
 }
 #btnm
 {
   background-color: #ddd;
   padding: 12px 16px;
   text-decoration: none;
   border:none;
   color:black;
   text-align:center;
   display: inline-block;
   font-size: 16px;
 }
 #btnm:hover{
   background-color: #3e8e41;
 }
 .dropdown-content a:hover {background-color: #ddd;}
 
 .dropdown:hover .dropdown-content {display: block;}
 
 .dropdown:hover .dropbtn {background-color: #3e8e41;}



 .modal {
   display: block;
   position: fixed;
   z-index: 3;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
   border: 1px;
 }
 
 @media only screen and (min-device-width : 50px) and (max-device-width : 600px) {
   .modal-content {
     width: auto;
     height: auto;
     margin: 10% auto;
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
   }
 
   input[type=text], input[type=number] {
     width: 65%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 1px solid #ccc;
     -webkit-transition: 0.5s;
     transition: 0.5s;
     outline: none;
     border-radius: 5px;
   }
 }
 
 @media only screen and (min-device-width : 600px) and (max-device-width : 1100px) {
   .modal-content {
     width: auto;
     height: auto;
     margin: 10% auto;
     padding: 20px;
     border: 1px solid #888;
     width: 60%;
   }
 
   input[type=text], input[type=number] {
     width: 50%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 1px solid #ccc;
     -webkit-transition: 0.5s;
     transition: 0.5s;
     outline: none;
     border-radius: 5px;
   }
 }
 
 @media only screen and (min-device-width : 1100px) {
   .modal-content {
     width: auto;
     height: auto;
     margin: 10% auto;
     padding: 20px;
     border: 1px solid #888;
     width: 40%;
   }
 
   input[type=text], input[type=number] {
     width: 90%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 1px solid #ccc;
     -webkit-transition: 0.5s;
     transition: 0.5s;
     outline: none;
     border-radius: 5px;
   }
 }
 
 .close {
   color: #DFDED8;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
   .close:hover,
   .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
   }
 
 
 
 input[type=text]:focus {
   border: 2px solid #FB4D4D;
 }
  