<div *ngIf="displayedit">
    <app-editzone></app-editzone>
  </div>
  <div *ngIf="displaycreate">
    <div class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeCreate()">&times;</span>
        <form>
        <table class="table table-borderless" width="100%">
  
          <th style="text-align: center; color: black; ">
            <h3>Add Zone</h3>
          </th>
  
          <tbody>
  
            <tr>
              <td valign="middle" align="center" width="100%">
                <input type="text" class="" placeholder="Zone Name" name="zonename"[(ngModel)]="zonename" />
              </td>
            </tr>
            <tr>
              <td valign="middle" align="center" width="100%">
                <input type="number" class="" placeholder="Zone Enabled" name="zoneenabled" [(ngModel)]="zoneenabled" />
  
              </td>
            </tr>
            <tr>
              <td valign="middle" align="center" width="100%">
                <input type="number" class="" placeholder="Number of tables" name="numberoftables" [(ngModel)]="numberoftables" />
  
              </td>
            </tr>
            <tr>
              <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
            </tr>
            <tr>
              <td align="center">
                <div class="form-group">
                  <button type="button" class="btn btn-danger" (click)="onCreate();">Add Zone</button>
                </div>
              </td>
  
            </tr>
          </tbody>
  
        </table>
        </form>

      </div>
    </div>
  </div>
  
  <div *ngIf="displayInitial">
    <button class="btn-primary" (click)="showcreate()">Create Zone</button>
    <br />
    <table class="table">
  
  
      <tr *ngFor="let zone of zones">
        <td><img [src]="createImgPath(zone.zoneImage)" alt="" style="width:60px; height:60px;"></td>
        
        <td>
          {{ zone.zoneName }}
        </td>
        <td>
          {{zone.zoneEnabled}}
        </td>
        <td>
          {{zone.nbOfTables}}
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="editzone(zone);">Edit Zone</button>
          &nbsp;
  
        </td>
      </tr>
    </table>
  </div>
  
  