  <div *ngIf="displaycreate"> 
    <div class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeCreate()">&times;</span>
        <form>
        <table class="table table-borderless" width="100%">
  
          <th style="text-align: center; color: black; ">
            <h3>Add new {{ heading }}</h3>
          </th>
  
          <tbody>
            <div *ngFor="let i of inputs">
              
  
            <tr>
              <td valign="middle" align="center" width="100%">
                <input type="i.type" class="" placeholder="i.placeholder" name="i.name"[(ngModel)]="i.ngmodel" />
              </td>
            </tr>

            </div>
            <tr>
              <td align="center">
                <div class="form-group">
                  <button type="button" class="btn btn-danger" (click)="onCreate();">Add Zone</button>
                </div>
              </td>
  
            </tr>
          </tbody>
  
        </table>
        </form>

      </div>
    </div>
  </div>