.modal {
    display: block;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border: 1px;
  }
  #m{
    display: block;
    position: relative; 
    z-index: 4;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border: 1px;
  }
  #mc{
    width: auto;
    height: auto;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
  }
  @media only screen and (min-device-width : 50px) and (max-device-width : 600px) {
    .modal-content {
      width: auto;
      height: auto;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
  
    input[type=text], input[type=number] {
      width: 65%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      border-radius: 5px;
    }
  }
  
  @media only screen and (min-device-width : 600px) and (max-device-width : 1100px) {
    .modal-content {
      width: auto;
      height: auto;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
    }
  
    input[type=text], input[type=number] {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      border-radius: 5px;
    }
  }
  
  @media only screen and (min-device-width : 1100px) {
    .modal-content {
      width: auto;
      height: auto;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 40%;
    }
  
    input[type=text], input[type=number] {
      width: 90%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      border-radius: 5px;
    }
  }
  
  .close {
    color: #DFDED8;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  
  
  
  input[type=text]:focus {
    border: 2px solid #FB4D4D;
  }
  