<div *ngIf="displayedit">
    <app-editaddone></app-editaddone>
  </div>
  
  
  <div *ngIf="displaycreate">
    <div class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeCreate()">&times;</span>
  
        <table class="table table-borderless" width="100%">
  
          <th style="text-align: center; color: black; ">
            <h3>Add AddOne</h3>
          </th>
  
          <tbody>
  
            <tr>
              <td valign="middle" align="center" width="100%">
                <input type="text" class="" placeholder="Name" [(ngModel)]="addonename" />
              </td>
            </tr>
            <tr>
              <td valign="middle" align="center" width="100%">
                <input type="text" class="form-group" placeholder="Size" [(ngModel)]="addonesize" />
              </td>
            </tr>
            <tr>
              <td valign="middle" align="center" width="100%">
                <input type="text" class="form-group" placeholder="Price" [(ngModel)]="addoneprice" />
              </td>
            </tr>
  
  
            <tr>
              <td align="center">
                <div class="form-group">
                  <button type="button" class="btn btn-danger" (click)="createAddone();">Save</button>
                </div>
  
              </td>
  
            </tr>
  
          </tbody>
  
        </table>
      </div>
    </div>
  
  </div>
  
  <div *ngIf="displayinitial">
    <button class="btn-primary" (click)="showcreate()">Create AddOne</button>
    <br />
    <table class="table">
      <tr bgcolor="#f9f9f9">
        <th>Name</th>
        <th>Size </th>
        <th>Price</th>
        <th></th>
      </tr>
      <tr *ngFor="let addone of addones">
        <td>
          {{ addone.addOnesName }}
        </td>
        <td>
          {{ addone.addOnesSize }}
        </td>
        <td>
          {{addone.addOnesPrice}}
        </td>
        <td>
          <button type="button" class="btn btn-primary"
                  (click)="editaddone(addone.addOnesId,addone.addOnesName,addone.addOnesSize,addone.addOnesPrice);">
            Edit AddOnes
          </button>
  
          &nbsp;
  
          &nbsp;
        </td>
      </tr>
    </table>
  </div>
  <a class="btn btn-danger" [routerLink]="['/menus']">Back To Menus</a>
  
  