<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Therichpost </div>
    <div class="list-group list-group-flush">
      
      <!-- <a [ngClass]="{'active' : activesettings}" 
        class="list-group-item list-group-item-action bg-light" 
        (click)="settings();">Settings</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
      <ng-template ngFor let-navitem [ngForOf]="navItems">
        <!-- <li *ngIf="!isHasChild(navitem)"
            [ngClass]="{'nav-title': isTitle(navitem), 
            'nav-item': !(isTitle(navitem) || isDivider(navitem)), 
            'nav-divider': isDivider(navitem)}"
        > -->
            <span *ngIf="isTitle(navitem)" >{{navitem.name}}</span>
            <span *ngIf="isDivider(navitem)"></span>
            <a class="list-group-item list-group-item-action bg-light" 
            *ngIf="!(isTitle(navitem) || isDivider(navitem))" 
           
            (click)="navitem.fctname();"
              >
               {{navitem.name}}
            </a>
        <!-- </li> -->
        <!-- <li *ngIf="isHasChild(navitem)" appNavDropdown routerLinkActive="open" class="nav-item nav-dropdown open">
            <a appNavDropdownToggle class="nav-link nav-dropdown-toggle" role="button"><i class="nav-icon" [ngClass]="navitem.icon"></i> {{navitem.name}}</a>
            <ul class="nav-dropdown-items">
                <li *ngFor="let cnavitem of navitem.children">
                    <a class="list-group-item list-group-item-action bg-light" *ngIf="!(isTitle(cnavitem) || isDivider(cnavitem))" routerLink="{{cnavitem.url}}"
                       routerLinkActive="active">
                        <i [ngClass]="cnavitem.icon"></i> {{cnavitem.name}}
                    </a>
                </li>
            </ul>
        </li> -->
    </ng-template>
   
  </div>
  
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <!-- <h1 class="mt-4">Simple Sidebar</h1>
      <p>Add your content</p> -->
      <!-- <app-superadminhome></app-superadminhome> -->
      
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
